node-red/.flows.json.backup
[{"id":"b1025737.70e14","type":"tab","label":"Lys","disabled":false,"info":""},{"id":"7572919a650718cd","type":"tab","label":"Powersaver","disabled":false,"info":"","env":[]},{"id":"16e997a1a89defe6","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"db1ad9b2.276098","type":"mqtt-broker","name":"HA","broker":"192.168.88.44","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a152c01a.c0a43","type":"hue-bridge","name":"Hjemme","bridge":"192.168.88.40","key":"22HMq5vxh3bw3NgYiVMSQ4O9lhaXov1jCNJceQk2","worker":"10","disableupdates":false},{"id":"7b451097f5fb24c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1d80faaa5932c774","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"eab799518168f5a3","type":"ha-entity-config","server":"1d80faaa5932c774","deviceConfig":"","name":"sensor config for Info fra PS til HA","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Powersaver"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"e14d5d7a.c86888","type":"api-call-service","z":"b1025737.70e14","name":"","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kjellergang","switch.trinnlys_switch"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":760,"wires":[[]]},{"id":"bfb5cfdb.41d7e","type":"switch","z":"b1025737.70e14","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"upPressed","vt":"str"},{"t":"eq","v":"downPressed","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":540,"wires":[["a9976b10.d6c458","e1fc0cc7.f25658"],["e14d5d7a.c86888","744cfffe.583d2"],["27127958.0b2566"],["89c36618.add71"]]},{"id":"27127958.0b2566","type":"hue-scene","z":"b1025737.70e14","name":"Lyst","bridge":"a152c01a.c0a43","sceneid":"o2aY20uLYVeJ4TL","x":590,"y":600,"wires":[[]]},{"id":"89c36618.add71","type":"hue-scene","z":"b1025737.70e14","name":"Dimmet","bridge":"a152c01a.c0a43","sceneid":"-x7bmWwNCeVk0Ct","x":600,"y":660,"wires":[[]]},{"id":"7bdfc8c5.73f3b8","type":"comment","z":"b1025737.70e14","name":"Lys Kjellergang","info":"","x":120,"y":480,"wires":[]},{"id":"b28ae9f8.184c2","type":"switch","z":"b1025737.70e14","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"upPressed","vt":"str"},{"t":"eq","v":"downPressed","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":180,"wires":[["cf17d382.79b28","b062026e.f6b04"],["b7e5de6b.e7a3b8"],["b58ed043.958dd8"],["dc7ce7f2.82d3f8"]]},{"id":"cf17d382.79b28","type":"hue-scene","z":"b1025737.70e14","name":"Slapp av","bridge":"a152c01a.c0a43","sceneid":"0c975439-9356-48f0-88ca-d438596d17d3","x":620,"y":140,"wires":[[]]},{"id":"b7e5de6b.e7a3b8","type":"api-call-service","z":"b1025737.70e14","name":"","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.spot1_gang_trapp","light.spot2_gang_trapp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":200,"wires":[[]]},{"id":"b58ed043.958dd8","type":"hue-scene","z":"b1025737.70e14","name":"Les","bridge":"a152c01a.c0a43","sceneid":"a6a5f4b0-b465-413c-a867-b4d814751264","x":590,"y":260,"wires":[[]]},{"id":"dc7ce7f2.82d3f8","type":"hue-scene","z":"b1025737.70e14","name":"Slapp av","bridge":"a152c01a.c0a43","sceneid":"0c975439-9356-48f0-88ca-d438596d17d3","x":600,"y":320,"wires":[[]]},{"id":"651fc09.0f01dc","type":"comment","z":"b1025737.70e14","name":"Lys Trappegang","info":"","x":120,"y":80,"wires":[]},{"id":"7d793a6c.1a1d44","type":"mqtt in","z":"b1025737.70e14","name":"Bryter Yttergang","topic":"xcomfort/27/event","qos":"2","datatype":"auto","broker":"db1ad9b2.276098","nl":false,"rap":false,"rh":"0","inputs":0,"x":120,"y":780,"wires":[["7980e300.c8c4fc"]]},{"id":"7980e300.c8c4fc","type":"switch","z":"b1025737.70e14","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"upPressed","vt":"str"},{"t":"eq","v":"downPressed","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":780,"wires":[["a9976b10.d6c458"],["e14d5d7a.c86888"],["27127958.0b2566"],["89c36618.add71"]]},{"id":"b062026e.f6b04","type":"api-call-service","z":"b1025737.70e14","name":"","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["trappegang"],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":60,"wires":[[]]},{"id":"a9976b10.d6c458","type":"api-call-service","z":"b1025737.70e14","name":"","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kjellergang","switch.trinnlys_switch"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":520,"wires":[[]]},{"id":"e1fc0cc7.f25658","type":"api-call-service","z":"b1025737.70e14","name":"Trinnlys PÅ","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.trinnlys"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":460,"wires":[[]]},{"id":"744cfffe.583d2","type":"api-call-service","z":"b1025737.70e14","name":"Trinnlys AV","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.trinnlys"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":820,"wires":[[]]},{"id":"f80be2b1.712da8","type":"mqtt in","z":"b1025737.70e14","name":"Bryter Kjellerstue Venstre","topic":"xcomfort/39/event","qos":"2","datatype":"auto","broker":"db1ad9b2.276098","inputs":0,"x":150,"y":1300,"wires":[["ec5891d2.8db9f"]]},{"id":"ec5891d2.8db9f","type":"switch","z":"b1025737.70e14","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"upPressed","vt":"str"},{"t":"eq","v":"downPressed","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":1300,"wires":[["a4eb8fea.68878","90e4011a.d0a9f"],["b8ee6fbe.589f2"],["27196820.453ef"],["40736f4f.c95dc8"]]},{"id":"a4eb8fea.68878","type":"hue-scene","z":"b1025737.70e14","name":"Konsentrer deg","bridge":"a152c01a.c0a43","sceneid":"5b27e883-548a-4452-aeec-6acaa43d7d94","x":620,"y":1260,"wires":[[]]},{"id":"b8ee6fbe.589f2","type":"api-call-service","z":"b1025737.70e14","name":"","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.spot_2_skrivebord","light.spot_3_skrivebord","light.spot_4_skrivebord","light.spot_5_skrivebord","light.videolys","light.kjellerstue_uplight"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":1340,"wires":[[]]},{"id":"27196820.453ef","type":"hue-scene","z":"b1025737.70e14","name":"Les","bridge":"a152c01a.c0a43","sceneid":"55d96c34-805e-43f1-9bfe-5ef20ced0a0e","x":590,"y":1400,"wires":[[]]},{"id":"40736f4f.c95dc8","type":"hue-scene","z":"b1025737.70e14","name":"Dimmet","bridge":"a152c01a.c0a43","sceneid":"c2e3d19a-535c-411b-8748-82d85c4fb60f","x":600,"y":1460,"wires":[[]]},{"id":"897f9da2.fec6d","type":"comment","z":"b1025737.70e14","name":"Lys Trappegang","info":"","x":120,"y":1220,"wires":[]},{"id":"90e4011a.d0a9f","type":"api-call-service","z":"b1025737.70e14","name":"","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.spot_2_skrivebord","light.spot_3_skrivebord","light.spot_4_skrivebord","light.spot_5_skrivebord","light.videolys","light.kjellerstue_uplight"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":1200,"wires":[[]]},{"id":"89d96621.f9a3b8","type":"inject","z":"b1025737.70e14","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":1380,"wires":[["ec5891d2.8db9f"]]},{"id":"7d13bbb8.fe2094","type":"inject","z":"b1025737.70e14","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":1440,"wires":[["ec5891d2.8db9f"]]},{"id":"ed35840bb214abc4","type":"inject","z":"b1025737.70e14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":40,"wires":[["b062026e.f6b04"]]},{"id":"cc3e987a2fba4058","type":"inject","z":"b1025737.70e14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":260,"wires":[["b7e5de6b.e7a3b8"]]},{"id":"428d7c7ca88db95f","type":"ps-receive-price","z":"7572919a650718cd","name":"Price Receiver","x":360,"y":240,"wires":[["4147bf0b99fe626f"]]},{"id":"4147bf0b99fe626f","type":"ps-strategy-best-save","z":"7572919a650718cd","name":"Best Save","maxHoursToSaveInSequence":"6","minHoursOnAfterMaxSequenceSaved":"2","minSaving":"0.20","sendCurrentValueWhenRescheduling":true,"outputIfNoSchedule":"true","contextStorage":"memory","x":630,"y":240,"wires":[["8c736fc7dd86aa38"],["b11f20d1bfc69bc4"],["cad33a63f66ef72e"]]},{"id":"8c736fc7dd86aa38","type":"api-call-service","z":"7572919a650718cd","name":"Varmtvann PÅ","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":["eb2a6c7c1d0b029e58a4802816f656aa"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":140,"wires":[[]]},{"id":"b11f20d1bfc69bc4","type":"api-call-service","z":"7572919a650718cd","name":"Varmtvann AV","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["eb2a6c7c1d0b029e58a4802816f656aa"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":440,"wires":[[]]},{"id":"cad33a63f66ef72e","type":"function","z":"7572919a650718cd","name":"Convert true/false to 1/0","func":"msg.payload.hours.forEach(h => h.onOff = h.onOff ? \"1\" : \"0\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":820,"wires":[["4da7b32013b71db2"]]},{"id":"15cb533abaf5acdc","type":"comment","z":"7572919a650718cd","name":"","info":"18. august 2022: Testet denne med on/off - fungerer bra, men trenger den ikke enda.","x":80,"y":60,"wires":[]},{"id":"4da7b32013b71db2","type":"ha-sensor","z":"7572919a650718cd","name":"Info fra PS til HA","entityConfig":"eab799518168f5a3","version":0,"state":"payload","stateType":"str","attributes":[{"property":"Schedule","value":"payload.schedule","valueType":"msg"},{"property":"Hours","value":"payload.hours","valueType":"msg"},{"property":"Control","value":"payload.hours[0].onOff","valueType":"str"},{"property":"Current","value":"payload.current","valueType":"str"}],"inputOverride":"allow","outputProperties":[],"x":1040,"y":820,"wires":[[]]},{"id":"40887fa05e4a08ae","type":"server-state-changed","z":"7572919a650718cd","name":"Nord Pool sensor","server":"1d80faaa5932c774","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.nordpool_kwh_krsand_nok_3_10_025","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":240,"wires":[["428d7c7ca88db95f"]]},{"id":"e1f2feda2656d3e0","type":"api-call-service","z":"7572919a650718cd","name":"Sett 22 grader","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":["3eba66c4b4707f3a4d8cae7058dbb6b6"],"entityId":["climate.zwave_thermostat"],"data":"{ \"temperature\" : \"22\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":500,"wires":[[]]},{"id":"ee0e4f0d472dcde2","type":"api-call-service","z":"7572919a650718cd","name":"Sett 24 grader","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":["3eba66c4b4707f3a4d8cae7058dbb6b6"],"entityId":["climate.zwave_thermostat"],"data":"{ \"temperature\" : \"24\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":200,"wires":[[]]},{"id":"790c53b03568b298","type":"api-call-service","z":"7572919a650718cd","name":"Sett 18 grader i kjellestue","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.kjellerstue"],"data":"{ \"temperature\" : \"18\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":560,"wires":[[]]},{"id":"800b993753605f94","type":"api-call-service","z":"7572919a650718cd","name":"Sett 20 grader i kjellestue","server":"1d80faaa5932c774","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.kjellerstue"],"data":"{ \"temperature\" : \"20\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":260,"wires":[[]]}]